.gui-bubbles {
  z-index: 35;
  position: absolute;
  right: 40px * $ui-scale;
  bottom: 200px * $ui-scale;
  transform: scale($ui-scale);
  // border: 1px solid red;
}


.bubbles-bubble {
  position: absolute;
  bottom: 0;
  right: 0;
  transform-origin: 90% 100%;
  // transition: transform 800ms cubic-bezier(0.000, 0.670, 0.100, 1.000);
  // border: 1px solid red;
  & img {
    display: block;
    width: auto;
    height: 120px;
    image-rendering: pixelated;
  }
}
