.gui-score {
  z-index: 30;
  position: absolute;
  top: 0;
  right: 0;
  width: 320px;
  overflow: auto;
  margin: 0 auto;
  transform-origin: 100% 100%;
  transform: scale($ui-scale);

  opacity: 0;
  transition: opacity 400ms;
  &.hidden {
    opacity: 0;
  }
  &.transparent {
    opacity: 0.4;
  }
  &.visible {
    opacity: 1;
  }
}

.gui-score .score-content {
  font-size: 60px;
  text-align: right;
  padding-right: 4px * $ui-scale;
  margin-top: 60px * $ui-scale;
  margin-right: 40px * $ui-scale;
  background: -webkit-linear-gradient(#eee, #f2ee66);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  &::after {
    background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 2;
    width: 100%;
    left: auto;
    right: 0;
    padding-right: 4px * $ui-scale;
    text-align: right;
  }
}
