.gui-status {
  z-index: 30;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
  transition: opacity 400ms;
  transform-origin: 0 100%;
  transform: scale($ui-scale);
  pointer-events: none;

  &.hidden {
    opacity: 0;
  }
  &.transparent {
    opacity: 0.4;
  }
  &.visible {
    opacity: 1;
  }

  & .status-background {
    z-index: 0;
    position: absolute;
    bottom: 0px;
    left: 130px;
    display: block;
    image-rendering: pixelated;
    margin: 0;
    padding: 0;
    transform-origin: 100% 100%;
    transform: scale(2);
  }


  & .status-stressbar {
    z-index: 2;
    position: absolute;
    bottom: -20px;
    left: 0px;
    display: block;
    image-rendering: pixelated;
    margin: 0;
    padding: 0;
    & .stressbar-img {
      transform-origin: 0% 100%;
      transform: scale(2);
    }

    & .stressbar-level {
      z-index: 5;
      position: absolute;
      bottom: 70px;
      left: 24px;
      width: 24px;
      height: 181px;
      transform-origin: 100% 100%;
      transform: scaleY(0);
      transition: transform 50ms;
      background: #c3fba4;
      &.panic {
        background: #e8ba5f;
      }
    }
  }

  & .status-face {
    z-index: 2;
    position: absolute;
    bottom: -15px;
    left: 35px;
    display: block;
    image-rendering: pixelated;
    // border: 1px solid red;
    transform-origin: 100% 50%;
    margin: 0;
    padding: 0;
    will-change: transform;
    & .face-img {
      transform-origin: 0% 100%;
      transform: scale(1.7);
    }
  }
}
