$color-car: #24DAFF;
$color-background: #1D1D1D;
$color-road: #696969;
$color-cop-1: #FF3838;
$color-cop-2: #FE6F57;

$gui-minimap-car-size: 50px;
$gui-minimap-cop-size: 12px;
$gui-minimap-road-width: 0.7px;

.experience {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.homescreen,
.game-gui,
.game-three {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.homescreen {
  z-index: 10;
  background: white;
}

.game-three {
  z-index: 1;
  // display: none;
}

.game-gui {
  z-index: 3;
  text-align: center;
  color: red;
}

.gui-minimap {
  z-index: 10;
  position: absolute;
  left: 10px;
  bottom: 10px;

  border: 3px solid $color-background;
  background: rgba($color-background, 0.9);
  border-radius: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  will-change: transform;

  .gui-minimap-car {
    z-index: 11;
    position: absolute;
    top: calc(50% - #{$gui-minimap-car-size / 2});
    left: calc(50% - #{$gui-minimap-car-size / 2});
    background: $color-car;
    width: $gui-minimap-car-size;
    height: $gui-minimap-car-size;
    background: url('minimap_car.svg');
    background-size: $gui-minimap-car-size $gui-minimap-car-size;
    transform-origin: center center;
    will-change: transform;
  }

  .gui-minimap-container {
    position: absolute;
    top: 50%;
    left: 50%;
    will-change: transform;
  }

  .gui-minimap-cop {
    position: absolute;
    border-radius: 100%;
    background: linear-gradient($color-cop-1, $color-cop-2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);

    width: $gui-minimap-cop-size;
    height: $gui-minimap-cop-size;
    margin-top: -#{$gui-minimap-cop-size / 2};
    margin-left: -#{$gui-minimap-cop-size / 2};
    will-change: transform;
  }

  .gui-minimap-chunk {
    position: absolute;
    transform: rotate(180deg);
    padding: 1px;
    path {
      fill: none;
      stroke: $color-road;
      stroke-width: $gui-minimap-road-width;
      stroke-linejoin: round;
      stroke-linecap: round;
    }
  }
}
